{% block title %} 404 page {% endblock %}
<!-- CONTENT -->
        <div class="error-section">
                <div class= "wrapper">
                <h1 class="mb-4">404</h1>
                <h2 class="text-center mb-4">Oops ! Page not found !</h2>
                <img src="../assets/images/avatar-sad.png" alt="avatar-sad" class="img-fluid mb-4">
                <h3 class="text-center mb-5">We can't find the page you're looking for.</h3> 
                <button type="button" class="submit-btn"><a href="index.php">Back to home</a></button>
                </div>                               
        </div>