{% extends "frontend/baseform.html.twig" %}
{% block title %} Login {% endblock %}
{% block form %}
        <!-- LOGIN AREA -->
        <section class="sign section">
            <div class="container">
                <div class="row">
                    <div class="sign-form col-md-5 mx-auto">
                        {#<?php if(isset($logout)):?>
                        <p class="h6 text-center"><?php echo $logout; ?></p>
                        <?php endif; ?> #}
                        <h3 class="sign-title text-center">Login</h3>
                        {% if session.danger is not empty %}
                            <div class="alert alert-danger alert-dismissible show pt-5" role="alert">
                                <p>You have not completed the form correctly :</p>
                                <ul>
                                    <li>{{ session.danger }}</li>
                                </ul>
                                <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
                            </div>     
                        {% endif %}
                        <form method="post" action="index.php?page=login">
                            <fieldset class="form-group row">    
                                <div class="form-field col-md-12">
                                    <label for="username" class="label">Username</label>
                                    <input type="text" class="form-control" name="username" id="username"/>  
                                </div>
                                <div class="form-field col-md-12">
                                    <label for="password" class="label">Password</label>
                                    <input type="password" class="form-control" name="password" id="password"/>        
                                </div>
                                <div class="pass-link">
                                <a href="?page=forget">Forgot password ?</a>
                                </div>
                            </fieldset>
                                <button type="submit" class="submit-btn">Sign in</button>  
                        </form>
                        <div class="sign-link">
                            <h5>Not a member ?<a href="?page=register"> Sign up</a></h5>
                        </div>
                    </div>    
                </div>
            </div>
        </section>
{% endblock %}

                        
