{% extends "frontend/basefrontend.html.twig" %}
{% block title %} {% endblock %}
{% block body %}
        <!-- SINGLE POST -->
        <section class="list-section">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9">
                        <div class="row row-cols-1 row-cols-md-2 g-4 pb-4">
                            <div class="col">
                              <div class="card">
                                <img src="assets/images/lorem.jpg" class="card-img-top" alt="webdev pic">
                                <div class="card-body">
                                    <div class="card-top d-flex justify-content-between align-items-center">
                                        <h5 class="card-title">Featured Post</h5>
                                        <span class="badge bg-success">Tag</span>
                                        </div>
                                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                  <div class="card-meta d-flex justify-content-between align-items-center">
                                    <span><i class="fas fa-clock"></i></span>
                                    <span><i class="fas fa-user"></i></span>
                                <a class="btn btn-danger" href="?page=postsingle" role="button">Read More</a>
                                </div>
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="card">
                                <img src="assets/images/js.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <div class="card-top d-flex justify-content-between align-items-center">
                                        <h5 class="card-title">Featured Post</h5>
                                        <span class="badge bg-success">Tag</span>
                                        </div>
                                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                  <div class="card-meta d-flex justify-content-between align-items-center">
                                    <span><i class="fas fa-clock"></i></span>
                                    <span><i class="fas fa-user"></i></span>
                                <a class="btn btn-danger" href="?page=postsingle" role="button">Read More</a>
                                </div>
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="card">
                                <img src="assets/images/design.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <div class="card-top d-flex justify-content-between align-items-center">
                                        <h5 class="card-title">Featured Post</h5>
                                        <span class="badge bg-success">Tag</span>
                                        </div>
                                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                                  <div class="card-meta d-flex justify-content-between align-items-center">
                                    <span><i class="fas fa-clock"></i></span>
                                    <span><i class="fas fa-user"></i></span>
                                <a class="btn btn-danger" href="?page=postsingle" role="button">Read More</a>
                                </div>
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="card">
                                <img src="assets/images/lorem.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <div class="card-top d-flex justify-content-between align-items-center">
                                        <h5 class="card-title">Featured Post</h5>
                                        <span class="badge bg-success">Tag</span>
                                        </div>
                                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                  <div class="card-meta d-flex justify-content-between align-items-center">
                                    <span><i class="fas fa-clock"></i></span>
                                    <span><i class="fas fa-user"></i></span>
                                <a class="btn btn-danger" href="?page=postsingle" role="button">Read More</a>
                                </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row row-cols-1 row-cols-md-2 g-4 pb-4">
                            <div class="col">
                              <div class="card">
                                <img src="assets/images/js.jpg" class="card-img-top" alt="webdev pic">
                                <div class="card-body">
                                    <div class="card-top d-flex justify-content-between align-items-center">
                                        <h5 class="card-title">Featured Post</h5>
                                        <span class="badge bg-success">Tag</span>
                                        </div>
                                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                  <div class="card-meta d-flex justify-content-between align-items-center">
                                    <span><i class="fas fa-clock"></i></span>
                                    <span><i class="fas fa-user"></i></span>
                                <a class="btn btn-danger" href="?page=postsingle" role="button">Read More</a>
                                </div>
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="card">
                                <img src="assets/images/design.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <div class="card-top d-flex justify-content-between align-items-center">
                                        <h5 class="card-title">Featured Post</h5>
                                        <span class="badge bg-success">Tag</span>
                                        </div>
                                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                  <div class="card-meta d-flex justify-content-between align-items-center">
                                    <span><i class="fas fa-clock"></i></span>
                                    <span><i class="fas fa-user"></i></span>
                                <a class="btn btn-danger" href="?page=postsingle" role="button">Read More</a>
                                </div>
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="card">
                                <img src="assets/images/lorem.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <div class="card-top d-flex justify-content-between align-items-center">
                                        <h5 class="card-title">Featured Post</h5>
                                        <span class="badge bg-success">Tag</span>
                                        </div>
                                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                  <div class="card-meta d-flex justify-content-between align-items-center">
                                    <span><i class="fas fa-clock"></i></span>
                                    <span><i class="fas fa-user"></i></span>
                                <a class="btn btn-danger" href="?page=postsingle" role="button">Read More</a>
                                </div>
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="card">
                                <img src="assets/images/js.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <div class="card-top d-flex justify-content-between align-items-center">
                                        <h5 class="card-title">Featured Post</h5>
                                        <span class="badge bg-success">Tag</span>
                                        </div>
                                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                  <div class="card-meta d-flex justify-content-between align-items-center">
                                    <span><i class="fas fa-clock"></i></span>
                                    <span><i class="fas fa-user"></i></span>
                                <a class="btn btn-danger" href="?page=postsingle" role="button">Read More</a>
                                </div>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
                    <div class="col-xl-3">
                        <aside class="aside-tags mb-4">
                            <h5 class="tags-title">Tags</h5> 
                            <ul>
                              <li><a href="#">Database</a></li>
                              <li><a href="#">Git/Github</a></li>
                              <li><a href="#">HTML5/CSS3</a></li>
                              <li><a href="#">Framework</a></li>
                              <li><a href="#">PHP/Symfony</a></li>
                              <li><a href="#">Javascript</a></li>
                              <li><a href="#">Sécurity</a></li>
                            </ul>     
                        </aside>
                        <aside class="aside-posts mb-4">
                            <h5 class="posts-title">Recent posts</h5> 
                            <ul>
                                <li><a href="#">Feature post</a></li>
                                <li><a href="#">Feature post</a></li>
                                <li><a href="#">Feature post</a></li>
                                <li><a href="#">Feature post</a></li>
                                <li><a href="#">Feature post</a></li>
                                <li><a href="#">Feature post</a></li>
                                <li><a href="#">Feature post</a></li>
                            </ul>     
                        </aside>
                        <aside class="aside-comments">
                            <h5 class="posts-title">Recent comments</h5> 
                            <ul>
                                <li><a href="postsingle.html">Dave le 15/09/2021 dans feature post</a></li>
                                <li><a href="postsingle.html">Mike le 13/09/2021 dans feature post</a></li>
                                <li><a href="#">Léa le 10/09/2021 dans feature post</a></li>
                                <li><a href="#">Paul le 05/09/2021 dans feature post</a></li>
                            </ul>     
                        </aside>
                    </div>
                </div>
            </div>       
        </section>
{% endblock %}     
        

                        
