{% extends "baseform.html.twig" %}
{% block title %} Register {% endblock %}
{% block form %}
        <!-- LOGIN AREA -->
        <section class="sign section">
            <div class="container">
                <div class="row">
                    <div class="sign-form col-md-5 mx-auto">
                        <h3 class="sign-title text-center">Register</h3>
                        <div class="message error text-light d-flex align-items-center justify-content-center">
                            <h5>Username required</h5>
                        </div>
                        <form method="post" action="">
                            <fieldset class="form-group row">    
                                <div class="form-field col-md-12">
                                    <label for="username" class="label">Username</label>
                                    <input type="text" class="form-control" name="username" id="username" required/>        
                                </div>
                                <div class="form-field col-md-12">
                                    <label for="email" class="label">Email</label>
                                    <input type="email" class="form-control" name="email" id="email" required/>        
                                </div>
                                <div class="form-field col-md-12">
                                    <label for="password" class="label">Password</label>
                                    <input type="password" class="form-control" name="password" id="password" placeholder="At least 8 characters" required/>        
                                </div>
                                <div class="form-field col-md-12">
                                    <label for="password" class="label">Confirm password</label>
                                    <input type="password" class="form-control" name="confirmpass" id="confirmpass" required/>        
                                </div>
                                <small>By clicking <span>sign up</span> you agree to this site to keep 
                                    your personal data via this form.</small>     
                            </fieldset>
                            <button type="submit" class="submit-btn">Sign up</button>  
                        </form>
                        <div class="sign-link">
                            <h5>Already a member ?<a href="login.html"> Sign in</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}
                        
