{% extends "frontend/baseform.html.twig" %}
{% block title %} Register {% endblock %}
{% block form %}
        <!-- REGISTER AREA -->
        <section class="sign section">
            <div class="container">
                <div class="row">
                    <div class="sign-form col-md-5 mx-auto">            
                        <h3 class="sign-title text-center">Register</h3>
                        {#<?php /*if(isset($success)):?>
                            <div class="alert alert-success alert-dismissible show" role="alert">
                                <p class="h6 text-center"><?= $success; ?></p>
                            </div>
                        <?php endif;*/ ?>#}
                        {% if session.danger is not empty %}
                            <div class="alert alert-danger alert-dismissible show pt-5" role="alert">
                                <p>You have not completed the form correctly :</p>
                                <ul>
                                    {% for danger in session.danger %}
                                        <li> {{ danger }}</li>  
                                    {% endfor %}   
                                </ul>
                                <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>     
                            </div>    
                        {% endif %}
                        <form method="post" action="">
                            <fieldset class="form-group row">    
                                <div class="form-field col-md-12">
                                    <label for="username" class="label">Username</label>
                                    <input type="text" class="form-control" name="username" id="username" placeholder="At least 8 characters" value="{{ (input.username is defined) ? session.input.username : "" }}"/>  
                                </div>
                                <div class="form-field col-md-12">
                                    <label for="email" class="label">Email</label>
                                    <input type="email" class="form-control" name="email" id="email" placeholder="email@address.com" value="{{ (input.mail is defined) ? session.input.email : "" }}"/>        
                                </div>
                                <div class="form-field col-md-12">
                                    <label for="password" class="label">Password</label>
                                    <input type="password" class="form-control" name="password" id="password" placeholder="At least 8 characters"/>        
                                </div>
                                <div class="form-field col-md-12">
                                    <label for="password" class="label">Confirm password</label>
                                    <input type="password" class="form-control" name="password_confirm" id="password_confirm"/>        
                                </div>
                                <small>By clicking <span>sign up</span> you agree to this site to keep 
                                    your personal data via this form.</small>
                                
                            </fieldset>
                                <button type="submit" class="submit-btn">Sign up</button>  
                        </form>
                        <div class="sign-link">
                            <h5>Already a member ?<a href="?page=login"> Sign in</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}
                        
