{% extends "backend/basebackend.html.twig" %}
{% block title %} Admin dashboard {% endblock %}
{% block bodyadmin %}
        <!-- DASHBOARD CARDS -->
        <section>
            <div class="content">
                <div class="content-header">
                    <h4 class="title title-dash">Dashboard</h4>
                </div>
                <div class="dashboard">
                    <div class="container">
                        <div class="row cards-dash">
                            <div class="col-xl-3 col-md-6">
                                <div class="card card-post mb-3" style="max-width: 20rem;">
                                    <div class="card-body">
                                        <div class="card-info">
                                            <h2>9</h2>
                                            <h4>Posts</h4>
                                        </div>
                                        <div class="card-icon">
                                            <i class="far fa-file-alt"></i>
                                        </div>
                                    </div>
                                    <div class="card-footer border-light">
                                        <a href="admin/posts/indexpost.php">
                                            <h6>View details</h6>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <?php if(isset($_SESSION['auth_role']) && $_SESSION['auth_role'] == 2) { ?>
                            <div class="col-xl-3 col-md-6">
                                <div class="card card-com mb-3" style="max-width: 20rem;">
                                    <div class="card-body">
                                        <div class="card-info">
                                            <h2>5</h2>
                                            <h4>Comments</h4>
                                        </div>
                                        <div class="card-icon">
                                            <i class="fas fa-comments"></i>
                                        </div>
                                    </div>
                                    <div class="card-footer border-light">
                                        <a href="admin/comments/indexcomment.php">
                                            <h6>View details</h6>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <?php } ?>
                            <div class="col-xl-3 col-md-6">
                                <div class="card card-users mb-3" style="max-width: 20rem;">
                                    <div class="card-body">
                                        <div class="card-info">
                                            <h2>6</h2>
                                            <h4>Users</h4>
                                        </div>
                                        <div class="card-icon">
                                            <i class="fas fa-user"></i>
                                        </div>
                                    </div>
                                    <div  class="card-footer border-light">
                                        <a href="admin/users/indexuser.php">
                                            <h6>View details</h6>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card card-tags mb-3" style="max-width: 20rem;">
                                    <div class="card-body">
                                        <div class="card-info">
                                            <h2>12</h2>
                                            <h4>Tags</h4>
                                        </div>
                                        <div class="card-icon">
                                            <i class="fas fa-tag"></i>
                                        </div>
                                    </div>
                                    <div class="card-footer border-light">
                                        <a href="admin/tags/indextag.php">  
                                            <h6>View details</h6>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>       
            </div>
        </section>
    </div>
{% endblock %}

                        
