{% extends "backend/basebackend.html.twig" %}
{% block title %} Admin dashboard {% endblock %}
{% block bodyadmin %}
        <!-- DASHBOARD CARDS -->
        <section>
            <div class="content">
                <div class="content-header">
                    <h4 class="title title-dash">Dashboard</h4>
                </div>
                <div class="auth message success text-dark">
                    <h4>Welcome, you are authentified now !</h4>
                </div>
                <div class="dashboard">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-3 col-md-6">
                                <div class="card text-white mb-3 card-post" style="max-width: 20rem;">
                                    <div class="card-body">
                                        <div class="card-info">
                                            <h2>9</h2>
                                            <h4>Posts</h4>
                                        </div>
                                        <div class="card-icon">
                                            <i class="far fa-file-alt"></i>
                                        </div>
                                    </div>
                                    <a href="?page=indexpost" class="card-footer border-light">
                                        <h6>View details</h6>
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card text-white mb-3 card-com" style="max-width: 20rem;">
                                    <div class="card-body">
                                        <div class="card-info">
                                            <h2>5</h2>
                                            <h4>Comments</h4>
                                        </div>
                                        <div class="card-icon">
                                            <i class="fas fa-comments"></i>
                                        </div>
                                    </div>
                                    <a href="?page=indexcomment" class="card-footer border-light">
                                        <h6>View details</h6>
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card text-white mb-3 card-users" style="max-width: 20rem;">
                                    <div class="card-body">
                                        <div class="card-info">
                                            <h2>6</h2>
                                            <h4>Users</h4>
                                        </div>
                                        <div class="card-icon">
                                            <i class="fas fa-user"></i>
                                        </div>
                                    </div>
                                    <a href="?page=indexuser" class="card-footer border-light">
                                        <h6>View details</h6>
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card text-white mb-3 card-tags" style="max-width: 20rem;">
                                    <div class="card-body">
                                        <div class="card-info">
                                            <h2>12</h2>
                                            <h4>Tags</h4>
                                        </div>
                                        <div class="card-icon">
                                            <i class="fas fa-tag"></i>
                                        </div>
                                    </div>
                                    <a href="?page=indextag" class="card-footer border-light">
                                        <h6>View details</h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>       
            </div>
        </section>
{% endblock %}

                        
