/*-- FRONT-END NAVBAR --*/

.navbar {
    background-color: var(--primaryColor);
    position: fixed;
    width: 100%;
    height: auto;
}

.navbar .navbar-brand {
    color: var(--secondaryColor);
}

.navbar-brand {
    font-size: 30px;
}

.navbar-brand:hover {
    color: var(--thirdColor) !important;
}

.nav-link {
    font-size: 20px;
    color: var(--secondaryColor) !important;
}

.nav-link:hover {
    color: var(--thirdColor) !important;
}

.nav-link.active {
    color: var(--thirdColor) !important;
}

.navbar img {
    border-radius: 50%;
}

.dropdown-menu {
    width: 100%;
}

.dropdown-menu .dropdown-item {
    color: var(--thirdColor);
}

.dropdown-menu .dropdown-item:hover {
    color: var(--thirdColor);
}

@media(max-width: 992px) {

    .navbar .container {
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    .navbar-brand {
        font-size: 22px;
        margin: 15px;
    }

    .navbar-toggler {
        margin-right: 15px;
    }

    .navbar-toggler:hover {
        color: white !important;
    }

    .navbar-collapse {
        background: var(--primaryColor);
    }

    .navbar-nav .nav-link {
        width: 100%;
        padding-left: 25px;
        font-size: 17px;
    }

    .navbar-nav .nav-link:hover {
        background: var(--thirdColor);
        color: var(--primaryColor) !important;
    }

    .dropdown-menu .dropdown-item {
        padding-left: 45px;
    }
}

/* --ADMIN NAVBAR SIDEBAR --*/

.sidemenu {
    position: fixed;
    background: var(--thirdColor);
    top: 0;
    width: 275px;
    height: 100%;
    z-index: 500;
}

.sidemenu .close-btn {
    position: absolute;
    color: var(--primaryColor);
    font-size: 30px;
    right: 0;
    margin: 10px 15px;
    cursor: pointer;
    display: none;
}

.sidebar {
    margin-top: 100px;
}

.sidebar .profil-image {
    text-align: center;
    margin-bottom: 70px;
}

.sidebar .profil-image img {
    width: 140px;
}

.sidebar-menu {
    margin-top: 150px;
    padding-top: 30px;

}

.sidebar-menu li {
    width: 100%;
    margin-bottom: 27px;
    padding-left: 20px;
    list-style: none;
}

.sidebar-menu a {
    background: var(--primaryColor);
    color: var(--secondaryColor);
    display: block;
    font-size: 18px;
    text-decoration: none;
    border-radius: 30px 0px 0px 30px;
    padding: 15px 0 15px 25px;
}

.sidebar-menu a.active {
    background: var(--secondaryColor);
    color: var(--primaryColor) !important;
}

.sidebar-menu a span {
    font-size: 18px;
    padding-right: 15px;
}

.main-content {
    margin-left: 275px;
}

.main-content header {
    display: flex;
    justify-content: space-between;
    background: var(--primaryColor);
    padding: 20px 20px 0 20px;
    position: fixed;
    width: calc(100% - 275px);
    top: 0;
    z-index: 250;
    height: 80px;
}

.main-content header .nav-btn {
    visibility: hidden;
}

.main-content header .nav-btn .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background: var(--secondaryColor);
    transition: all 0.3s ease-in-out;
}

.main-content header span {
    font-size: 25px;
    margin-left: 15px;
    margin-right: 20px;
}

.main-content li {
    list-style: none;
}

.main-content li a {
    color: var(--secondaryColor);
    text-decoration: none;
}

.user-wrapper {
    display: flex;
    align-items: center;
}

.user-wrapper .dropdown-menu {
    margin-top: 28px;
    border: 2px solid var(--primaryColor);
    color: var(--primaryColor);
    background: var(--thirdColor);
}

.user-wrapper .dropdown-menu a {
    color: var(--primaryColor);
}

.user-wrapper img {
    margin-right: 15px;

    border-radius: 50%;
}

.user-wrapper small {
    display: inline-block;
    color: var(--secondaryColor);
}

@media(max-width: 992px) {
    .sidemenu {
        width: 200px;
    }

    .sidebar-menu {
        margin-top: 120px;
        padding-top: 30px;
    }

    .sidebar-menu li {
        padding-left: 5px;
    }

    .sidebar-menu a {
        font-size: 14px;
    }

    .sidebar-menu a span {
        font-size: 14px;
        padding-right: 15px;
    }

    .main-content {
        margin-left: 200px;
    }

    .main-content header {
        width: calc(100% - 200px);
    }
}

@media(max-width: 768px) {
    .sidemenu {
        left: -100%;
        transition: 1s;
    }

    .sidemenu.active {
        left: 0;
        transition: 0.55s;
    }

    .nav-btn.active {
        padding-left: 200px;
        transition: 0.55s;
    }

    .main-content {
        width: 100%;
        margin-left: 0px;
    }

    .main-content header {
        width: 100% !important;
        left: 0px !important;
    }

    .main-content header .nav-btn {
        visibility: visible;
    }

    .nav-btn.active .bar:nth-child(2) {
        opacity: 0;
    }

    .nav-btn.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .nav-btn.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

@media(max-width: 576px) {
    .sidemenu:active {
        left: -100%;
        transition: 0.55s;
    }

    .sidemenu .close-btn {
        display: inline;
    }

    .sidebar-menu a.active {
        background: var(--secondaryColor);
        color: var(--primaryColor) !important;
    }

    .nav-btn.active {
        padding-left: 0;
    }
}