{% extends "backend/basebackend.html.twig" %}
{% block title %} Admin users add {% endblock %}
{% block bodyadmin %}
            <!-- ADD POST FORM -->
            <section>
                <div class="content">
                    <div class="content-header">
                        <h4 class="title title-user">Create User</h4>
                    </div>
                    <div class="create">
                        <div class="container">
                            <form method="post" action=".php">
                                <fieldset class="form-group form-user row g-0">
                                    <div class="form-field col-lg-12">
                                        <label for="username">Username</label>
                                        <input type="text" name="username" id="username" required class="form-control">
                                    </div>
                                    <div class="form-field col-lg-12">
                                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                    </div>
                                    <div class="form-field col-lg-12">
                                        <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                                        <input type="password" class="form-control" id="inputPassword">
                                    </div>
                                    <div class="form-field col-lg-12">
                                        <label for="inputPassword" class="col-sm-2 col-form-label">Confirm password</label>
                                        <input type="password" class="form-control" id="inputPassword">
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="checkbox">
                                        <label class="form-check-label" for="checkbox">Admin</label>
                                    </div>
                                    <div class="btn-user d-flex justify-content-between">
                                        <button type="submit" class="submit-user submit-btn">Update user</button>
                                        <a class="btn" href="?page=indexuser" role="button"><i class="fas fa-arrow-left"></i> back</a>
                                    </div>
                                </fieldset>
                            </form>
                        </div>                 
                    </div>
                </div>
            </section>
        </div>
{% endblock %}        