{% extends "backend/basebackend.html.twig" %}
{% block title %} Admin users add {% endblock %}
{% block bodyadmin %}
            <!-- ADD POST FORM -->
            <section>
                <div class="content">
                    <div class="content-header">
                        <h4 class="title title-user">Create User</h4>
                    </div>
                    <div class="create">
                        <div class="container">
                            {% if session.danger is not empty %}
                                <div class="alert alert-danger alert-dismissible show pt-5" role="alert">
                                    <p>You have not completed the form correctly :</p>
                                    <ul>
                                        {% for danger in session.danger %}
                                            <li> {{ danger }}</li>  
                                        {% endfor %}   
                                    </ul>
                                    <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>     
                                </div>    
                            {% endif %}
                            <form method="post" action="">
                                <fieldset class="form-group form-user row g-0">
                                    <div class="form-field col-lg-12">
                                        <label for="username">Username</label>
                                        <input type="text" name="username" id="username" class="form-control" placeholder="At least 8 characters, one lowercase letter, one uppercase letter, one number & one special character." value="{{ session.input.username is defined ? session.input.username : updateuser.username }}">
                                    </div>
                                    <div class="form-field col-lg-12 file-input">
                                        <label for="formFile" class="form-label">Image</label>
                                        <input type="file" name="image" id="image" class="form-control" value="{{ session.input.picture is defined ? session.input.picture : "" }}">
                                    </div>
                                    <div class="form-field col-lg-12">
                                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                                        <input type="email" name="email" id="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="email@address.com" value="{{ session.input.email is defined ? session.input.email : "" }}">
                                    </div>
                                    <div class="form-field col-lg-12">
                                        <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                                        <input type="password" name="password" id="password" class="form-control" id="inputPassword" placeholder="At least 8 characters, one lowercase letter, one uppercase letter, one number & one special character.">
                                    </div>
                                    <div class="form-field col-lg-12">
                                        <label for="inputPassword" class="col-sm-2 col-form-label">Confirm password</label>
                                        <input type="password" name="password_confirm" id="password_confirm" class="form-control">
                                    </div>
                                    {% if session.auth_role and session.auth_role == 2 %}
                                        <div class="form-check">
                                        <input type="checkbox" name="role" class="form-check-input" value="2" {% if updateuser.role and updateuser.role == 2 %} checked {% endif %} id="checkbox">
                                        <label class="form-check-label" for="checkbox">Super admin</label>
                                        </div>
                                    {% endif %}
                                    <div class="btn-user d-flex justify-content-between">
                                    <button type="submit" name="submit" class="submit-user submit-btn">Update user</button>
                                    <a class="submit-btn submit-user" href="?page=indexuser" role="button"><i class="fas fa-arrow-left"></i>&nbsp;&nbsp;Back</a>
                                    </div>
                                </fieldset>
                            </form>
                        </div>                 
                    </div>
                </div>
            </section>
        </div>
{% endblock %}        