{% extends "backend/basebackend.html.twig" %}
{% block title %} Admin tags add {% endblock %}
{% block bodyadmin %}
            <!-- ADD POST FORM -->
            <section>
                <div class="content">
                    <div class="content-header">
                            <h4 class="title title-tag">Create Tag</h4>
                    </div>
                    <div class="create">
                        <div class="container">
                            <form method="post" action=".php">
                                <fieldset class="form-group form-tag row g-0">
                                    <div class="form-field col-lg-12">
                                        <label for="nametag">Tag name</label>
                                        <input type="text" name="title" id="title" required class="form-control">
                                    </div>
                                    <div class="form-field col-lg-12">
                                        <label>Description</label>
                                        <div id="toolbar"></div>
                                        <div id="editor">
                                            <p>Hello World!</p>
                                        </div>
                                    </div>
                                    <div class="btn-tag d-flex justify-content-between">
                                    <button type="submit" class="submit-tag submit-btn">Add tag</button>
                                    <a class="btn" href="?page=indextag" role="button"><i class="fas fa-arrow-left"></i> back</a>
                                    </div>
                                </fieldset>
                            </form>
                        </div>                 
                    </div>
                </div>
            </section>
        </div>
{% endblock %}       