{% extends "backend/basebackend.html.twig" %}
{% block title %} Admin tags index {% endblock %}
{% block bodyadmin %}
            <section>
                <div class="content">
                    <div class="content-header">
                        <h4 class="title title-tag">Manage Tags</h4>
                        <div class="link-btn">
                        <a href="#" class="tag-btn add-btn btn"><i class="fas fa-plus"></i> Tag</a>
                        </div>
                    </div>
                    <div class="auth message success text-dark">
                        <h5>Tag delete successfully !</h5>
                    </div>
                    <!-- TABLE USERS -->
                    <div class="container">
                        <table class="table table-tag">
                            <thead>
                                <tr class="table-title table-primary">   
                                    <th class="col-2">#</th>
                                    <th class="col-6">Tag name</th>
                                    <th class="col-4">Action</th>
                                </tr>
                            </thead>
                            <tbody class="table-body">
                                <tr>
                                    <th scope="row">6</th>
                                    <td class="tagname">Database</td>
                                    <td>
                                        <div class="action-button">
                                            <a href="#" role="button" class="edit-post action-btn btn btn-primary"><i class="far fa-edit"></i><span> edit</span></a>
                                            <button type="button" class="action-btn btn btn-danger"><i class="fas fa-times"></i><span> delete</span></button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">5</th>
                                    <td class="tagname">Git/Github</td>
                                    <td>
                                        <div class="action-button">
                                            <a href="#" role="button" class="edit-post action-btn btn btn-primary"><i class="far fa-edit"></i><span> edit</span></a>
                                            <button type="button" class="action-btn btn btn-danger"><i class="fas fa-times"></i><span> delete</span></button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">4</th>
                                    <td class="tagname">HTML5/CSS3</td>
                                    <td>
                                        <div class="action-button">
                                            <a href="#" role="button" class="edit-post action-btn btn btn-primary"><i class="far fa-edit"></i><span> edit</span></a>
                                            <button type="button" class="action-btn btn btn-danger"><i class="fas fa-times"></i><span> delete</span></button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td class="tagname">PHP/Symfony</td>
                                    <td>
                                        <div class="action-button">
                                            <a href="#" role="button" class="edit-post action-btn btn btn-primary"><i class="far fa-edit"></i><span> edit</span></a>
                                            <button type="button" class="action-btn btn btn-danger"><i class="fas fa-times"></i><span> delete</span></button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td class="tagname">Javascript</td>
                                    <td>
                                        <div class="action-button">
                                            <a href="#" role="button" class="edit-post action-btn btn btn-primary"><i class="far fa-edit"></i><span> edit</span></a>
                                            <button type="button" class="action-btn btn btn-danger"><i class="fas fa-times"></i><span> delete</span></button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">1</th>
                                    <td class="tagname">Sécurity</td>
                                    <td>
                                        <div class="action-button">
                                            <a href="#" role="button" class="edit-post action-btn btn btn-primary"><i class="far fa-edit"></i><span> edit</span></a>
                                            <button type="button" class="action-btn btn btn-danger"><i class="fas fa-times"></i><span> delete</span></button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
{% endblock %}