{% extends "backend/basebackend.html.twig" %}
{% block title %} Admin tags index {% endblock %}
{% block bodyadmin %}
            <section>
                <div class="content">
                    <div class="content-header">
                        <h4 class="title title-tag">Manage Tags</h4>
                        <div class="link-btn">
                        <a href="?page=addtag" class="tag-btn add-btn btn"><i class="fas fa-plus"></i> Tag</a>
                        </div>
                    </div>
                    <!-- TABLE TAGS -->
                    <div class="container">
                        <table class="table table-tag">
                            <thead>
                                <tr class="table-title table-primary">   
                                    <th class="col-2">#</th>
                                    <th class="col-6">Name</th>
                                    <th class="col-4">Action</th>
                                </tr>
                            </thead>
                            <tbody class="table-body">
                                {% for tag in tags %}
                                    <tr>
                                        <th scope="row">{{ tag.id }}</th>
                                        <td class="tagname">{{ tag.name }}</td>
                                        <td>
                                            <div class="action-button">
                                            <a href="?page=edittag&id={{ tag.id }}" class="btn edit-post btn-primary"><i class="far fa-edit"></i><span> edit</span></a>
                                                <a href="index.php?page=deletetag&id={{ tag.id }}" class="btn btn-danger"><i class="fas fa-times"></i><span> delete</span></a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}   
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
{% endblock %}